<div id="dinamicasapp">
    <div class="d-grid gap-2 d-md-flex justify-content-between align-items-center">
        <h2 class="me-md-2">Dinamica</h2>
        <div>
            <a href="../" class="btn btn-primary" type="button"><i class="bi bi-arrow-left"></i></a>
        </div>
    </div>
    <div><span class="fw-semibold">Nome:</span> \{{dinamica.nome}}</div>

    <div class="d-grid gap-2 mt-2 d-md-flex justify-content-between align-items-center">
        <h2 class="me-md-2">jogos</h2>
        <div>
            <button @click="openAddModal()" type="button" class="btn btn-primary btn-sm"><i class="bi bi-file-earmark-plus"></i>
                </button>
        </div>
    </div>
    <table class="table mt-2">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item,index in dinamica.jogos" :key="index">
                <th scope="row">\{{index+1}}</th>
                <td>\{{item.nome}}</td>
                <td>
                    <a :href="'/admin/jogos/detail/'+item.id" type="button" class="btn btn-info btn-sm"><i
                            class="bi bi-eye"></i></a>
                    <button @click="remove(item.id)" type="button" class="btn btn-danger btn-sm"><i
                            class="bi bi-trash"></i></button>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="adModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-capitalize" id="staticBackdropLabel">Novo</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" v-model="jogo.nome">
                        <label for="floatingInput">Nome</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"><i class="bi bi-x-lg"></i>
                        Cancelar</button>
                    <button type="button" @click="save" class="btn btn-primary btn-sm"><i class="bi bi-save"></i>
                        Salvar</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script>

    var app = new Vue({
        el: '#dinamicasapp',
        data: {
            loadingPage: true,
            dinamica: [],
            jogo: {nome:""},
            addModal: {}

        },
        methods: {
            async loadPage() {
                const result = await fetch(`/admin/dinamicas/getOne/{{data.id}}`)
                const data = await result.json()
                this.dinamica = data;
            },
            async openAddModal() {
                this.jogo = {nome:""}
                this.addModal = new bootstrap.Modal('#adModal')
                this.addModal.show()
            },
            async save() {
                let validaResult = validaOjeto(this.jogo);

                if(validaResult.length>0){
                    ShowMessage("warning","Campos obrigatórios",validaResult.join("<br>"))
                    return
                }

                const result = await fetch(`/admin/jogos/add/{{data.id}}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ data: this.jogo }),
                });
                if (result.ok) {
                    const data = await result.json()
                    await this.loadPage();
                    this.jogo = {}
                    this.addModal.hide()
                    showMessageToast('success','item adicionado!')

                }
            },
            async remove(id) {
                let questionResult = await ShowQuestion("Deseja realmente remover este item?");
                if (!questionResult)
                    return

                const result = await fetch(`/admin/jogos/remove/${this.dinamica.id}/${id}`);
                if (result.ok) {
                    this.loadPage();
                    showMessageToast('success', 'item removido!')
                }
            },

        },
        mounted() {
            this.loadPage();
        }
    })

</script>