<div id="gruposapp">
    <div class="card mx-4">
        <div class="card-body">
            <div class="d-grid gap-2 d-md-flex justify-content-between align-items-center">
                <h2 class="me-md-2">Grupo <span
                        :class="'fs-6 badge text-bg-'+status.find(o=>o.id ==grupo.status)?.tag||'' ">\{{status.find(o=>o.id
                        ==grupo.status)?.descricao||""}}</span></h2>
                <div>
                    <a href="../" class="btn btn-primary" type="button"><i class="bi bi-arrow-left"></i></a>
                </div>
            </div>
            <div><span class="fw-semibold">Data:</span> \{{new Date(grupo.data).toLocaleDateString()}}</div>
            <div><span class="fw-semibold">Dinamica:</span> \{{grupo.jogo?.dinamica ? grupo.jogo.dinamica.nome:""}}
            </div>
            <div><span class="fw-semibold">Jogo:</span> \{{grupo.jogo?.nome||""}}</div>
            <div><span class="fw-semibold">Cliente:</span> \{{grupo.cliente||""}}</div>
            <div><span class="fw-semibold">Monitor:</span> \{{grupo.monitor||""}}</div>
        </div>
    </div>
    <div class="card m-4">
        <div class="card-body">
            <div class="d-grid gap-2 mt-2 d-md-flex justify-content-between align-items-center">
                <h2 class="me-md-2">Participantes</h2>
                <div>
                    <button @click="openParicipanteModal()" type="button" class="btn btn-primary btn-sm"><i
                            class="bi bi-plus"></i>
                        Participante</button>
                </div>
            </div>
            <table class="table mt-2">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Email</th>
                        <th scope="col">Respostas</th>
                        <th style="width: 1%" scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item,index in grupo.participantes" :key="index">
                        <th scope="row">\{{index+1}}</th>
                        <td>\{{item.nome||""}}</td>
                        <td>\{{item.email||""}}</td>
                        <td>\{{item?.respostas?item.respostas.length:0}}</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-three-dots-vertical"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a :href="'/participantes/detail/'+item.id" class="dropdown-item"
                                            type="button"><i class="bi bi-clipboard-data"></i>
                                            Analise</a></li>
                                    <li><button @click="removeParticipante(item.id)" class="dropdown-item text-danger"
                                            type="button"><i class="bi bi-trash"></i> Remover</button>
                                    </li>
                                </ul>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="d-grid gap-2 m-4">
        <a href="/desafios/emgrupo/{{grupoId}}" type="button"
            :class="'btn btn-outline-primary btn-sm '+((grupo?.participantes && grupo.participantes.length==0)?'disabled' :'') ">
            <i class="bi bi-box-arrow-up-right"></i> Iniciar desafio gerenciado</a>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="addParticipante" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-capitalize" id="staticBackdropLabel">incluir participante</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" v-model="participante.nome"
                            placeholder="name@example.com">
                        <label for="floatingInput">Nome</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" v-model="participante.email"
                            placeholder="name@example.com">
                        <label for="floatingInput">Email</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"><i
                            class="bi bi-x-lg"></i>
                        Cancelar</button>
                    <button type="button" @click="saveParticipante" class="btn btn-primary btn-sm"><i
                            class="bi bi-save"></i>
                        Salvar</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script>

    var app = new Vue({
        el: '#gruposapp',
        data: {
            loadingPage: true,
            grupo: [],
            participante: { nome: "", email: "" },
            addParticipanteModal: {},
            status: [
                { id: 1, descricao: "Aberto", tag: "primary" },
                { id: 2, descricao: "Em Analise", tag: "warning" },
                { id: 3, descricao: "Concluído", tag: "success" },
            ]

        },
        methods: {
            async loadPage() {
                const result = await fetch(`/grupos/getOne/{{grupoId}}`)
                const data = await result.json()
                this.grupo = data;
            },
            async openParicipanteModal() {
                this.participante = { nome: "", email: "" }
                this.addParticipanteModal = new bootstrap.Modal('#addParticipante')
                this.addParticipanteModal.show()
            },
            async saveParticipante() {
                let validaResult = validaOjeto(this.participante);

                if (validaResult.length > 0) {
                    ShowMessage("warning", "Campos obrigatórios", validaResult.join("<br>"))
                    return
                }

                const result = await fetch(`/participantes/add/{{grupoId}}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ data: this.participante }),
                });
                if (!result.ok) {
                    showMessageToast('danger', 'operação não pode ser executada!')
                    return
                }
                const data = await result.json()
                await this.loadPage();
                this.participante = {}
                this.addParticipanteModal.hide()
                showMessageToast('success', 'participante adicionado!')


            },
            async copiarLinkResposta(email) {
                await navigator.clipboard.writeText(`${location.host}/desafios/solo/${this.grupo.id}/${email}`)
                showMessageToast('success', 'Link copiado!')

            },
            async removeParticipante(id) {
                let questionResult = await ShowQuestion("Deseja realmente remover este grupo?");
                if (!questionResult)
                    return

                const result = await fetch(`/participantes/remove/${this.grupo.id}/${id}`);
                if (!result.ok) {
                    showMessageToast('danger', 'operação não pode ser executada!')
                    return
                } this.loadPage();
                showMessageToast('success', 'participante removido!')

            },

        },
        mounted() {
            this.loadPage();
        }
    })

</script>